@import "common.scss";
@import "_minix.scss";
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    @include sizing;
    padding: 0 pxTorem(10px);
    background: rgb(20, 20, 20);
    color: #ccc;
    ul {
        width: 100%;
        height: pxTorem(45px);
        @include box_flex;
        @include justify(space-between);
        @include align;
        font-size: pxTorem(16px);
        li {
            @include flex;
            @include box_flex;
            @include justify;
            @include align;
            height: pxTorem(45px);
        }
    }
}

section {
    width: 100%;
    @include flex;
    @include box_flex;
    @include direction(column);
    background: #ccc;
    font-size: pxTorem(14px);
    #title {
        width: 100%;
        height: pxTorem(40px);
        @include box_flex;
        @include justify(flex-start);
        @include align;
        border-bottom: 1px solid #ccc;
        color: #aaa;
        background: #fff;
    }
    #content {
        width: 100%;
        @include flex;
        background: #fff;
    }
}