@import "common.scss";
@import "_minix.scss";
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    @include sizing;
    padding: 0 pxTorem(10px);
    background: rgb(20, 20, 20);
    color: #ccc;
    ol {
        width: 40%;
        height: pxTorem(45px);
        @include box_flex;
        @include justify(space-between);
        @include align;
        font-size: pxTorem(16px);
        li {
            @include flex;
            height: pxTorem(45px);
            line-height: pxTorem(45px);
        }
    }
    i.icon {
        font-size: pxTorem(18px);
    }
}

section {
    width: 100%;
    @include flex;
    @include box_flex;
    @include direction(column);
    background: #ccc;
    h1 {
        width: 95%;
        height: pxTorem(60px);
        @include box_flex;
        @include justify;
        @include align;
        background: #fff;
        font-size: pxTorem(18px);
        margin: pxTorem(10px) auto;
    }
    .tips {
        width: 95%;
        height: pxTorem(100px);
        @include box_flex;
        @include direction(column);
        @include justify(flex-start);
        @include align;
        @include sizing;
        padding: 0 pxTorem(5px);
        background: #fff;
        font-size: pxTorem(14px);
        margin: pxTorem(10px) auto;
        p {
            width: 100%;
            height: pxTorem(30px);
            @include box_flex;
            @include justify(flex-start);
            @include align;
            margin: pxTorem(3px);
            border-bottom: 1px solid #ccc;
            span {
                width: pxTorem(40px);
                height: pxTorem(30px);
                @include box_flex;
                @include justify;
                @include align;
                @include sizing;
                padding: 0 pxTorem(5px);
                display: inline-block;
                background: blue;
                color: #fff;
                margin-right: pxTorem(10px);
            }
        }
    }
    .box {
        width: 100%;
        @include flex;
        overflow: hidden;
        .main {
            width: 95%;
            height: pxTorem(100px);
            @include box_flex;
            @include direction(column);
            @include justify(flex-start);
            @include align;
            @include sizing;
            padding: 0 pxTorem(5px);
            background: #fff;
            margin: pxTorem(10px) auto;
            h3 {
                width: 100%;
                height: pxTorem(30px);
                font-size: pxTorem(16px);
            }
            p {
                width: 100%;
                height: pxTorem(30px);
                font-size: pxTorem(14px);
            }
            .user {
                width: 100%;
                height: pxTorem(40px);
                font-size: pxTorem(14px);
                @include box_flex;
                @include justify(space-between);
                @include align;
                @include sizing;
                span {
                    @include flex;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    @include sizing;
    padding: 0 pxTorem(10px);
    background: rgb(20, 20, 20);
    color: #ccc;
    ul {
        width: 100%;
        height: 100%;
        @include box_flex;
        @include justify(space-between);
        @include align;
        li {
            width: 100%;
            height: 100%;
            @include box_flex;
            @include direction(column);
            @include justify;
            @include align;
            i.icon {
                font-size: pxTorem(16px);
            }
            span {
                font-size: pxTorem(14px);
            }
        }
    }
}